@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: Source Sans Pro;
    font-weight: 200;
    background: #eee;
    color: #000;
}
a {
    text-decoration: none;
}
a:hover {
  color: red;
}
p {
    text-align: justify;
    padding: 0em 7px;
    font-size: .85em;
}
img {
    filter: grayscale(100%);
}
/* this makes it look like a newspaper */
/* Newspaper Container
All the newspaper content should be held within a container that has a width of 700px.
The newspaper container should have rounded edges using border-radius.
It should also have a box-shadow.
Don't forget to give it some padding. */
/* Wrapper */
.newspaper-container {
    padding: 1em;
    width: 700px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px #ddd;
    background-color: white;
}
/* Header */
header {
    text-align: center;
    font-size: 2em;
    font-family: Abril Fatface;
}
.date {
  text-align: left;
  font-size: .5em;
  font-family: Roboto Slab;
  border: yellow;
}
/* Navigation Bar */
nav { 
    position: sticky;
    top: 0;
    background: white;
    margin: auto;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 5px 0;
    z-index: 1;
}
nav ul {
    margin: 0em;
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 0 .5em;
}
nav a {
    font-size: .75em;
    color: #777;
    font-family: Roboto Slab;
}
/* Main article */
main h2 {
    font-family: Roboto Slab;
    margin-bottom: 0;

}
main h5 {
    color: #dd3232;
    margin-top: .5em;
    font-family: Abril Fatface;
}
main img {
    width: 100%;
}
/* More articles */
.more-articles {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 1em;
    text-align: center;
    border-top: 1px solid #eee;
}
.more-articles section {
    width: 85%;
}
.more-articles h4 {
    font-family: Roboto Slab;
    text-align: left;
}
/* extra articles */
.extra-articles {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 1em;
    text-align: center;
    border-top:  1px solid #eee;
}
.extra-articles section {
    width: 85%;
}
.extra-articles h4 {
    font-family: Roboto Slab;
    text-align: left;
}
.extra-articles img {
    width: 50%;
}